services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${EXT_PORT}:${PORT}"
    environment:
      PORT: "${PORT}"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
